
p1 {
    background-color: black;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 17px;
    color: deeppink;


}

h1 {
   
    font-family: Impact, Charcoal, sans-serif;
     background-color: black;
     color: deeppink;
}

h2 {
    
    font-family: Impact, Charcoal, sans-serif;
     background-color: black;
    color: deeppink;
}

body {
    background-color: purple;
    
    
    
}